    <!-- loader -->
    <div class="loader">
        <div class="loader-icon"></div>
    </div>
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item">
                    <a onclick="setLanguage('hu');" class="social-link text-light" href="" title="HU"><strong>HU</strong></a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="https://www.facebook.com/beres.laszlo1990" target="_blank" title="Facebook">
                        <i class="ti-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="https://www.linkedin.com/in/laszlo-beres-devops" target="_blank" title="LinkedIn">
                        <i class="ti-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="https://github.com/eresseel" target="_blank" title="GitHub">
                        <i class="ti-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="http://www.bereslaszlo/assets/cv/en/laszlo.beres.pdf" target="_blank">
                        <i class="ti-download" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="header-content">
                <h1 class="header-title"><span class="text-danger">Laszlo</span> Beres</h1>
                <h6 class="header-mono">Senior Linux | <span class="text-danger">Wizard</span></h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#bemutatkozas" class="nav-link">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a href="#me" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="#cv" class="nav-link">CV</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="http://www.bereslaszlo/assets/imgs/avatar.jpg" alt="László Béres | CV" class="brand-img" />
                    <li class="brand-txt">
                        <h5 class="brand-title"><span class="text-danger">Laszlo</span> Beres</h5>
                        <div class="brand-subtitle">Senior Linux | <span class="text-danger">Wizard</span></div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#projects" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="me" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">A wonderful child’s happy father</h5>
                <p class="mt-20">I live in Budapest with my family, where we try to spend as much time together as possible amidst the gray weekdays. On weekends, we go hiking, take walks in the city, or just simply go to the nearby playground.
                    <br /><br />
                    A part of my free time is filled with playing and doing activities with my kids. When I’m not with my family, I study to keep up and participate in various meetups, where I meet interesting people and learn new things.
                    <br /><br />
                    Additionally, one of my hobbies is repairing old cars, which truly relaxes and recharges me.
                </p>
                <a class="btn btn-outline-danger" href="http://www.bereslaszlo/assets/cv/en/laszlo.beres.pdf" target="_blank">Download CV</a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal information</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Birthday</span>: 1990</li>
                    <li><span>Email</span>: <a title="beres.laszlo1990@gmail.com" href="mailto:beres.laszlo1990@gmail.com">beres.laszlo1990@gmail.com</a></li>
                    <li><span>Phone</span>: <a title="06-70/882-45-44" href="tel:+36708824544">+36-70/882-45-44</a></li>
                    <li><span>Address</span>: Budapest</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/beres.laszlo1990" target="_blank" title="Facebook"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/laszlo-beres-devops" target="_blank" title="LinkedIn"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link text-light" href="https://github.com/eresseel" target="_blank" title="GitHub"><i class="ti-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Experience</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-linux icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>DevOps</h6>
                        <p class="subtitle">
                            AWS, GCP, Azure, Nginx, Traefik,<br />
                            Kubernetes, Docker, Swarm, ContainerD,<br />
                            Ansible, Helm, Terraform, Packer, Graylog,<br />
                            Jenkins, GitLab, Prometheus, Grafana<br />
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-settings icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Programming</h6>
                        <p class="subtitle">
                            HTML, PHP, CSS, JS, CI3<br />
                            Java, Groovy, Bash, Python
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-rocket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Build Tools, Testing</h6>
                        <p class="subtitle">
                            Testinfra, Molecule,<br />
                            Maven, Gradle, Selenium
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-ruler-pencil icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Design</h6>
                        <p class="subtitle">Network, Proxmox, Vagrant, Qemu</p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="cv">
        <div class="container">
            <h2 class="mb-5">CV</h2>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="mt-2">
                                <h4>Workplaces</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger bold">2023.08 - </h6>
                            <p>Senior DevOps Engineer | qFence IT Security</p>
                            <p>
                                I have several years of experience in infrastructure design and operation, including
                                the full implementation of greenfield projects. One of my key tasks was to build a
                                Proxmox-based system where I had to build the infrastructure from scratch. I set up the
                                monitoring and observability systems using Prometheus and Grafana, with the node-exporter
                                providing the necessary data. Additionally, I integrated Graylog and rsyslog as the log
                                collection and analysis systems.

                                Automation was key, so I managed the infrastructure and configurations with Ansible. I implemented
                                continuous integration and delivery (CI/CD) processes using GitLab, including writing and maintaining
                                the pipelines. Testing processes were also an integral part of my work, ensuring the system's ongoing
                                reliability and scalability.
                            </p>
                            <hr />
                            <h6 class="title text-danger bold">2023.05 - </h6>
                            <p>Senior DevOps Engineer | <a target="_blank" href="https://aimotive.com/">aiMotive</a></p>
                            <p>
                                I have several years of experience in the field of DevOps and cloud-based systems, where
                                infrastructure automation and monitoring were key roles. Using Grafana and Prometheus,
                                I built efficient monitoring systems that helped track the performance and stability of
                                services continuously.

                                In managing the infrastructure, I used Ansible and Terraform, especially in the AWS
                                environment, where scalability and automation were particularly important. I supported CI/CD
                                processes with Jenkins, including the design and implementation of pipelines that enabled
                                continuous integration and fast, reliable delivery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Workplaces</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger bold">2020.01 - 2023.05</h6>
                            <p>DevOps Engineer | <a target="_blank" href="https://nng.com/">NNG</a></p>
                            <ul>
                                <li class="subtitle">Proxmox cluster,</li>
                                <li class="subtitle">Kubernetes, Jenkins,</li>
                                <li class="subtitle">Ansible role, collection</li>
                            </ul>
                            <a onclick="showModal(0, 'nngModal');" class="btn btn-outline-danger">More Details</a>
                            <div id="nngModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Responsibilities</strong>
                                    </blockquote>
                                    <p>Initially, I joined the UX team in a DevOps position, where my main task was to support
                                       developers and testers. I participated in building and maintaining test environments,
                                       ensuring that the application ran correctly on various platforms (Linux, Windows, Mac, Android). We
                                       used Git for version control, while TeamCity was used for CI/CD processes. I worked in this area for
                                       a short time before joining my current team.
                                       <br/><br/>
                                       In my current role, I am responsible for supporting development teams and operating and
                                       maintaining various systems (Jenkins, Nexus, Sonar, Spinnaker). We manage these systems with Ansible,
                                       writing and testing roles and collections using Molecule. Our CI/CD system is Jenkins, so I
                                       have also learned the basics of Java and Groovy to maintain and further develop the shared
                                       pipeline. We test the pipelines using Gradle.
                                       <br/><br/>
                                       Additionally, I sometimes receive unique tasks, such as creating a Proxmox cluster with 20
                                       machines, which included planning and building the entire network, as well as creating a CEPH
                                       cluster.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2019.04 - 2020.01</h6>
                            <p>Senior System Administrator/DevOps | <a target="_blank" href="https://www.bardiauto.hu/webshop/">Bárdi Autó</a></p>
                            <ul>
                                <li class="subtitle">Graylog, GitLab,</li>
                                <li class="subtitle">Prometheus, Grafana</li>
                            </ul>
                            <a onclick="showModal(1, 'bardiModal');" class="btn btn-outline-danger">More Details</a>
                            <div id="bardiModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Responsibilities</strong>
                                    </blockquote>
                                    <p>I joined the team originally as a Senior System Administrator with the goal of developing
                                       and implementing the DevOps culture. From day one, I actively supported both the support
                                       and engineering teams. At Bárdi, I was responsible for operating physical servers and I was able to
                                       participate in a significant project during which we replaced old, outdated servers with new,
                                       modern servers, taking into account geo-location.
                                       <br/><br/>
                                       I also collaborated on smaller projects, such as creating an Ansible-based system to manage
                                       nearly 100 of our virtual machines. My task here was to write playbooks and roles, while version
                                       control and provisioning processes were carried out using GitLab.
                                       <br/><br/>
                                       While I enjoyed the tasks, the pace of the project was too slow for me, and I did not want to
                                       wait years for the full implementation of the DevOps culture. Therefore, I sought a company
                                       where DevOps and continuous improvement play a central role.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2018.04 - 2019.04</h6>
                            <p>Junior DevOps Engineer | <a target="_blank" href="https://www.innonic.com/">Innonic Group</a></p>
                            <ul>
                                <li class="subtitle">Bash, Python,</li>
                                <li class="subtitle">GrayLog, ELK,</li>
                                <li class="subtitle">AWS, DigitalOcean,</li>
                                <li class="subtitle">Docker Swarm, GitLab</li>
                            </ul>
                            <a onclick="showModal(2, 'innonicModal');" class="btn btn-outline-danger">More Details</a>
                            <div id="innonicModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Responsibilities</strong>
                                    </blockquote>
                                    <p>When I was hired at Innonic, I was immediately transferred to the Optimonk team. My task was
                                       to carry out a technological transition with the help of developers. The developers replaced
                                       the previously used Symfony code with a microservice-based NodeJS backend, while the frontend
                                       became VueJS and TypeScript based.
                                       <br/><br/>
                                       My task was to design the infrastructure to keep costs low. Thus, I decided to migrate the
                                       system from AWS to DigitalOcean. I managed version control and CI/CD processes using GitLab,
                                       and set up Docker Swarm for application operations. I introduced the ELK system for log
                                       collection and configured Nixstats for monitoring. Once I completed these tasks, I created a
                                       MongoDB cluster, as we also replaced the existing MySQL database.
                                       <br/><br/>
                                       The transition took about a year, and after it was successfully completed, I sought new challenges.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2017.03 - 2018.04</h6>
                            <p>Internal Combustion Engine Mechanic | <a target="_blank" href="https://spiral-szerszam.hu/">Spiral Service</a></p>
                            <ul>
                                <li class="subtitle">Machine servicing,</li>
                                <li class="subtitle">Machine registration,</li>
                                <li class="subtitle">Ordering parts</li>
                            </ul>
                            <a onclick="showModal(3, 'spiralModal');" class="btn btn-outline-danger">More Details</a>
                            <div id="spiralModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Responsibilities</strong>
                                    </blockquote>
                                    <p>My job was to diagnose and repair machines, keep them in proper condition, and ensure that
                                       they operated without interruption. My responsibility also included ordering parts and
                                       maintaining relationships with suppliers. I worked in a team where everyone took their task
                                       seriously. However, after a while, I realized that this was not the path I wanted to pursue
                                       in the long run, so I decided to change my profession. I chose the field of IT and DevOps,
                                       which I have been passionate about for years.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Workplaces</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6 class="title text-danger bold">2016.01 - 2016.08</h6>
                            <p>Web Developer | <a target="_blank" href="https://kampanyfelugyelet.hu/">Campaign Supervision</a></p>
                            <ul>
                                <li class="subtitle">Web programming,</li>
                                <li class="subtitle">Search Engine Optimization,</li>
                                <li class="subtitle">Content uploading</li>
                            </ul>
                            <a onclick="showModal(4, 'kampanyModal');" class="btn btn-outline-danger">More Details</a>
                            <div id="kampanyModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Responsibilities</strong>
                                    </blockquote>
                                    <p>In this position, I was responsible for optimizing websites and online stores built on various frameworks (Shoprenter, Unas, WordPress, Joomla) at the source code level for search engines. To improve organic search results, I created internal link maps and uploaded PR articles to the websites.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2015.04 - 2015.10</h6>
                            <p>Student Job - Product Manager | Systemax</p>
                            <ul>
                                <li class="subtitle">Product tree planning,</li>
                                <li class="subtitle">Content uploading,</li>
                                <li class="subtitle">Product categorization</li>
                            </ul>
                            <a onclick="showModal(5, 'systemaxModal');" class="btn btn-outline-danger">More Details</a>
                            <div id="systemaxModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Responsibilities</strong>
                                    </blockquote>
                                    <p>While attending university, I needed a company where I could complete my internship, which is how I ended up here. My task was to find and upload the specifications of the products sold by the company into the system. I also participated in designing the product tree on the website, and uploading PR articles written by marketers was also part of my responsibilities.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Education</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <div class="card-body">
                                <h6 class="title text-danger bold">2021</h6>
                                <p>Electrician Profession | <a target="_blank" href="https://hidrakepzes.hu/">Hydra Adult Education Center</a></p>
                                <ul>
                                    <li class="subtitle">Building electrical installation,</li>
                                    <li class="subtitle">Installation of electrical machines and industrial distribution equipment</li>
                                </ul>
                                <hr />
                                <h6 class="title text-danger bold">2004 - 2008</h6>
                                <p>Economics Major | <a target="_blank" href="http://www.eurodebrecen.hu/hivatalos/index.php">EURO Vocational and Secondary School</a></p>
                                <ul>
                                    <li class="subtitle">Economics</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">OS Knowledge</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Alpine, Ubuntu</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Gentoo, Kali</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Programming</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>HTML + CSS3 + JS</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>PHP</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>CodeIgniter 3</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>SQL</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Java/Groovy</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Bash</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Python</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Language</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>English</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-white text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-briefcase icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">6+</h1>
                            <p class="text-light mb-1">Years of Experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-ruler-pencil icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">2000+</h1>
                            <p class="text-light mb-1">Completed Tasks</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-hummer icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">200+</h1>
                            <p class="text-light mb-1">Overworked Weekends</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">1000+</h1>
                            <p class="text-light mb-1">Cups of Coffee Consumed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="skills">
        <div class="container">
            <h2 class="mb-5 pb-4">Skills</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-infinite text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Perseverance</h5>
                            <p class="subtitle">
                                I consider myself persistent, as I have not encountered any task in my work so far that I could not complete successfully. I always strive not only to find solutions to challenges but also to continuously improve myself. Difficulties motivate me, and I believe that perseverance and ongoing learning are crucial to success.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-ruler-pencil text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Precision</h5>
                            <p class="subtitle">
                                I complete my tasks as precisely as possible; if necessary, I spend days researching and learning to achieve the best results. It is important for me to thoroughly understand the challenges and pay attention to details. This attitude helps me to consistently produce high-quality work and continually update my knowledge on the latest trends and technologies.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-link text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Teamwork</h5>
                            <p class="subtitle">
                                I excel at working in teams, and I am currently a member of the DevOps team. I enjoy collaborating with others, as I believe that collective efforts always enrich the work. There are tickets that we solve together, so communication and cooperation within the team are crucial to our success. This collaborative work allows us to consider various perspectives and ideas, which helps us find the best solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-check text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Reliability</h5>
                            <p class="subtitle">
                                While completing tasks, I always consider deadlines and adhere closely to the task descriptions. It is important to me that my work precisely meets the established expectations, so I carefully review the details of the tasks to ensure I am heading in the right direction. Additionally, I constantly prioritize my tasks to complete the most important ones on time, thus contributing to the success of the team and the project.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-paint-bucket text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Creativity</h5>
                            <p class="subtitle">
                                When designing and building the server room, it was extremely beneficial that I was entrusted with the entire process from start to finish. This gave me the opportunity to take full responsibility for the project and shape the system according to my own vision. From thorough planning to every step of implementation, I paid attention to details to ensure that the final result met the highest professional standards. I learned a lot from the challenges, and this experience significantly contributed to my professional growth.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-user text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Independent Work</h5>
                            <p class="subtitle">
                                When working on the establishment of our own server room, it was a huge advantage that I was able to plan and carry out the entire process independently. This allowed me to consider every aspect of the project, from planning to implementation. During the independent work, I carefully weighed the technical requirements, budget, and sustainability. From this experience, I learned how important attention to detail is, as well as flexibility in dealing with unexpected situations. The result was a well-functioning, efficient, and reliable server room, which significantly contributed to our company's operational efficiency.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-white py-5">
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal">I am happy to take on challenging projects, as they provide opportunities for growth and acquiring new experiences!</h2>
            <a class="btn btn-outline-danger" href="#contact">Get in touch</a>
        </div>
    </section>
    <section class="section" id="projects">
        <div class="container">
            <h1 class="mb-5">Projects</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".web" class="active">Web</a>
                    <a href="#" data-filter=".docker">Docker</a>
                    <a href="#" data-filter=".programming">Programming</a>
                    <a href="#" data-filter=".devops">DevOps</a>
                </div>
                <div class="portfolio-container">
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/web/www.brebeka.hu.jpg" class="img-fluid" alt="www.brebeka.hu | Personal website." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/web/www.brebeka.hu.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://www.brebeka.hu">www.brebeka.hu</a></h6>
                                    <p class="subtitle">Personal website</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/web/docs.eresseel.org.jpg" class="img-fluid" alt="docs.eressel.org | Educational materials related to IT." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/web/docs.eresseel.org.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://docs.eresseel.org">docs.eresseel.org</a></h6>
                                    <p class="subtitle">Educational materials related to IT</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/web/multilingual.jpg" class="img-fluid" alt="Multilingual static websites can be created." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/web/multilingual.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/multilingual-support-for-static-website">Multilingual Support for Static Websites</a></h6>
                                    <p class="subtitle">Multilingual static websites can be created</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Docker -->
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/selenium.jpg" class="img-fluid" alt="Selenium | container image." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/selenium.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/selenium-chrome">Selenium Chrome</a></h6>
                                    <p class="subtitle">Container image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/ansible.jpg" class="img-fluid" alt="Ansible | container image." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/ansible.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/ansible">Ansible</a></h6>
                                    <p class="subtitle">Container image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/code.igniter.jpg" class="img-fluid" alt="CodeIgniter framework | container image." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/code.igniter.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/codeigniter">CodeIgniter Framework</a></h6>
                                    <p class="subtitle">Container image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/azure.jpg" class="img-fluid" alt="Azure CLI and Kubectl | container image." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/azure.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/azure-cli-kubectl">Azure CLI and Kubectl</a></h6>
                                    <p class="subtitle">Container image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Programming -->
                    <div class="col-md-6 col-lg-4 programming">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/perl5.jpg" class="img-fluid" alt="Perl5 programming | example codes." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/perl5.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-perl5">Perl5</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 programming">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/python3.jpg" class="img-fluid" alt="Python3 programming | example codes." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/python3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-python">Python3</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 programming">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/java.jpg" class="img-fluid" alt="Java programming | example codes." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/java.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-python">Java</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 programming">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/go.jpg" class="img-fluid" alt="GO programming | example codes." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/go.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-python">GO</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DevOps -->
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/packer.jpg" class="img-fluid" alt="Packer | example codes" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/packer.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-packer">Packer</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/vagrant.jpg" class="img-fluid" alt="Vagrant | example codes" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/vagrant.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-vagrant">Vagrant</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/ansible.jpg" class="img-fluid" alt="Ansible | apt role" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/ansible.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/ansible-role-apt">Ansible</a></h6>
                                    <p class="subtitle">apt role</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/terraform.jpg" class="img-fluid" alt="Terraform | example codes" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/terraform.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-terraform">Terraform</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/kubernetes.jpg" class="img-fluid" alt="Kubernetes | example codes" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/kubernetes.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-kubernetes">Kubernetes</a></h6>
                                    <p class="subtitle">example codes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="blog">
        <div class="container">
            <h2 class="mb-5">Latest <span class="text-danger">Posts</span></h2>
            <div class="row">
                <div class="blog-card">
                    <div class="img-holder">
                        <img src="http://www.bereslaszlo/assets/imgs/blog/virtualbox.jpg" alt="Virtualbox" />
                    </div>
                    <div class="content-holder">
                        <h6 class="title">Virtualbox</h6>
                        <p>With Virtualbox, we can virtualize systems compatible with x86 and x64 based hardware. It is fundamentally a free, open-source program; however, there is an extension called the Extension Pack that can also be used for free at home, providing features like USB 3.0 and webcam support. For virtualization, hardware virtualization should definitely be available and enabled. After creating virtual machines, they will have one of the following image formats.</p>
                        <a target="_blank" href="https://docs.eresseel.org/onprem/virtualizacio/virtualbox/" class="read-more">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->

                <!-- blog-card -->
                <div class="blog-card">
                    <div class="img-holder">
                        <img src="http://www.bereslaszlo/assets/imgs/blog/json.jpg" alt="JSON" />
                    </div>
                    <div class="content-holder">
                        <h6 class="title">JSON</h6>
                        <p>JSON (JavaScript Object Notation) is a lightweight, text-based standard for human-readable data interchange. It originated from the JavaScript scripting language for representing simple data structures and associative arrays (referred to as objects in JSON). Despite its relationship with JavaScript, it is language-independent and has interpreters for multiple languages.</p>
                        <a target="_blank" href="https://docs.eresseel.org/fejlesztes/leironyelvek/json/" class="read-more">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->

                <!-- blog-card -->
                <div class="blog-card">
                    <div class="img-holder">
                        <img src="http://www.bereslaszlo/assets/imgs/blog/agile.jpg" alt="Agile Software Development" />
                    </div>
                    <div class="content-holder">
                        <h4 class="title">Agile Software Development</h4>
                        <p>In the early days of software development, it was believed that development was a linear process, where proper attention and techniques needed to be applied in the early stages to ensure success. Countless unsuccessful software development projects have proven this to be a mistake.</p>
                        <a target="_blank" href="https://docs.eresseel.org/szoftverfejlesztesi-modszerek/agilis/" class="read-more">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->
            </div>
        </div>
    </section>
    <div class="section contact" id="contact">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.4825478654177!2d19.03767581546805!3d47.49791297917695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc1b4e35c3bb%3A0x400c4290c1b1d80!2sBudapest%2C%20Hungary!5e0!3m2!1shu!2shu!4v1695907809079!5m2!1shu!2shu" width="100%" height="324" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div style="z-index: 998" class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info-card bg-dark">
                        <h4 class="contact-title">Contact</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Phone<br /> <span class="text-muted"><a title="06-70/882-45-44" href="tel:+36708824544">+36-70/882-45-44</a></span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Address<br /> <span class="text-muted">Budapest</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">E-mail<br /> <span class="text-muted"><a title="beres.laszlo1990@gmail.com" href="mailto:beres.laszlo1990@gmail.com">beres.laszlo1990@gmail.com</a></span></h6>
                            </div>
                        </div>
                        <ul class="social-icons pt-4">
                            <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/beres.laszlo1990" target="_blank" title="Facebook"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/laszlo-beres-devops" target="_blank" title="LinkedIn"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-light" href="https://github.com/eresseel" target="_blank" title="GitHub"><i class="ti-github" aria-hidden="true"></i></a></li>
                            <li><a class="social-link text-light" href="http://www.bereslaszlo/assets/cv/en/laszlo.beres.pdf" target="_blank"><i class="ti-download" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                © <span id="year"></span>  Created by Laszlo Beres
                <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
            </p>
        </div>
    </footer>
    <div class="cookie" id="cookieAccept">
        <div>
            <blockquote class="blockquote">
                <strong>Cookies</strong>
            </blockquote>
        </div>
        <div>
            <p style="color: #fff">To select the language of the website, you must allow the use of cookies.
                Do you accept that the website uses cookies?</p>
        </div>
        <div class="btn btn-primary">
            <a onclick="cookieAccept();" title="Accept cookies">I Accept</a>
        </div>
    </div>
    <!-- core -->
    <script src="http://www.bereslaszlo/assets/js/bootstrap.bundle.min.js"></script>
    <script src="http://www.bereslaszlo/assets/js/bootstrap.affix.min.js"></script>

    <!-- Isotope  -->
    <script src="http://www.bereslaszlo/assets/js/isotope.pkgd.min.js"></script>

    <script src="http://www.bereslaszlo/assets/js/style.min.js"></script>
    <script>if (getCookie("cookieAccept=1")) {$("#cookieAccept").css("display", "none");}</script>
    <script>$(document).ready(function () {$('.loader').fadeOut(1000);});</script>
