    <!-- loader -->
    <div class="loader">
        <div class="loader-icon"></div>
    </div>
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item">
                    <a onclick="setLanguage('en');" class="social-link text-light" href="" title="EN"><strong>EN</strong></a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="https://www.facebook.com/beres.laszlo1990" target="_blank" title="Facebook">
                        <i class="ti-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="https://www.linkedin.com/in/laszlo-beres-devops" target="_blank" title="LinkedIn">
                        <i class="ti-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="https://github.com/eresseel" target="_blank" title="GitHub">
                        <i class="ti-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link text-light" href="http://www.bereslaszlo/assets/cv/hu/beres.laszlo.pdf" target="_blank">
                        <i class="ti-download" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="header-content">
                <h1 class="header-title"><span class="text-danger">Béres</span> László</h1>
                <h6 class="header-mono">Senior Linux | <span class="text-danger">Mágus</span></h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#bemutatkozas" class="nav-link">Bemutatkozás</a>
                    </li>
                    <li class="nav-item">
                        <a href="#rolam" class="nav-link">Rólam</a>
                    </li>
                    <li class="nav-item">
                        <a href="#cv" class="nav-link">Önéletrajz</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="http://www.bereslaszlo/assets/imgs/avatar.jpg" alt="Béres László | Önéletrajz" class="brand-img" />
                        <li class="brand-txt">
                            <h5 class="brand-title"><span class="text-danger">Béres</span> László</h5>
                            <div class="brand-subtitle">Senior Linux | <span class="text-danger">Mágus</span></div>
                        </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#projektek" class="nav-link">Projektek</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#kapcsolat" class="nav-link">Kapcsolat</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="rolam" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Ki vagyok én?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Egy csodálatos gyerek boldog apukája</h5>
                <p class="mt-20">Budapesten élek a családommal, ahol a szürke hétköznapok mellett igyekszünk
                    minél több időt együtt tölteni. Hétvégéken eljárunk kirándulni, sétálni a városba, vagy
                    csak egyszerűen lemenni a közeli játszótérre.
                    <br /><br />
                    A szabadidőm egy részét a gyerekeimmel való közös játékok és programok teszik ki.
                    Amikor nem a családommal vagyok akkor tanulok, hogy nem maradjak le, és részt veszek
                    különféle meetup-on, ahol érdekes emberekkel ismerkedem meg és új dolgokat tanulok.
                    <br /><br />
                    Emellett az egyik hobbim a régi autók szerelése, ami igazán kikapcsol és feltölt.
                </p>
                <a class="btn btn-outline-danger" href="http://www.bereslaszlo/assets/cv/hu/beres.laszlo.pdf" target="_blank">CV Letöltése</a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Személyes adatok</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Születési év</span>: 1990</li>
                    <li><span>E-mail</span>: <a title="beres.laszlo1990@gmail.com" href="mailto:beres.laszlo1990@gmail.com">beres.laszlo1990@gmail.com</a></li>
                    <li><span>Telefonszám</span>: <a title="06-70/882-45-44" href="tel:+36708824544">+36-70/882-45-44</a></li>
                    <li><span>Lakhely</span>: Budapest</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/beres.laszlo1990" target="_blank" title="Facebook"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/laszlo-beres-devops" target="_blank" title="LinkedIn"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link text-light" href="https://github.com/eresseel" target="_blank" title="GitHub"><i class="ti-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Tapasztalatok</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-linux icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>DevOps</h6>
                        <p class="subtitle">
                            AWS, GCP, Azure, Nginx, Traefik,<br />
                            Kubernetes, Docker, Swarm, ContainerD,<br />
                            Ansible, Helm, Terraform, Packer, Graylog,<br />
                            Jenkins, GitLab, Prometheus, Grafana<br />
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-settings icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Programozás</h6>
                        <p class="subtitle">
                            HTML, PHP, CSS, JS, CI3<br />
                            Java, Groovy, Bash, Python
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-rocket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Build tool, Tesztelés</h6>
                        <p class="subtitle">
                            Testinfra, Molecule,<br />
                            Maven, Gradle, Selenium
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-ruler-pencil icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Tervezés</h6>
                        <p class="subtitle">Hálózat, Proxmox, Vagrant, Qemu</p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="cv">
        <div class="container">
            <h2 class="mb-5">Önéletrajz</h2>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="mt-2">
                                <h4>Munkahelyek</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger bold">2023.08 -</h6>
                            <p>Senior DevOps Engineer | qFence IT Security</p>
                            <p>
                                Többéves tapasztalattal rendelkezem infrastruktúra tervezés és üzemeltetés terén, beleértve
                                zöldmezős projektek teljes körű megvalósítását is. Egyik legfontosabb feladatom egy Proxmox-alapú
                                rendszer kiépítése volt, ahol az infrastruktúrát a nulláról kellett felépítenem. A felügyeleti és
                                monitorozási rendszereket Prometheus és Grafana segítségével állítottam be, amelyekhez a
                                node-exporter biztosította a szükséges adatokat. Emellett loggyűjtési és elemzési rendszerként a
                                Graylog-ot és az rsyslog-ot integráltam a rendszerbe.

                                Az automatizálás kulcsfontosságú volt, így az infrastruktúra és a konfigurációk kezelését
                                Ansible-lel oldottam meg. A folyamatos integrációs és szállítási folyamatokat (CI/CD) GitLab
                                segítségével valósítottam meg, beleértve a pipeline-ok írását és karbantartását. A tesztelési
                                folyamatok szintén szerves részét képezték a munkámnak, így biztosítva a rendszer folyamatos
                                megbízhatóságát és skálázhatóságát.
                            </p>
                            <hr />
                            <h6 class="title text-danger bold">2023.05 - </h6>
                            <p>Senior DevOps Engineer | <a target="_blank" href="https://aimotive.com/">aiMotive</a></p>
                            <p>
                                Többéves tapasztalattal rendelkezem DevOps és felhőalapú rendszerek területén, ahol kiemelt
                                szerepet kapott az infrastruktúra automatizálása és monitorozása. A Grafana és Prometheus
                                használatával hatékony monitoring rendszereket építettem ki, amelyek segítettek a szolgáltatások
                                teljesítményének és stabilitásának folyamatos nyomon követésében.

                                Az infrastruktúra menedzselésében az Ansible és Terraform eszközöket használtam, különösen AWS
                                környezetben, ahol a skálázhatóság és automatizálás kiemelten fontos volt. A CI/CD folyamatokat
                                Jenkins segítségével támogattam, beleértve a pipeline-ok tervezését és megvalósítását, amelyek
                                lehetővé tették a folyamatos integrációt és a gyors, megbízható szállítást.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Munkahelyek</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger bold">2020.01 - 2023.05</h6>
                            <p>DevOps Engineer | <a target="_blank" href="https://nng.com/">NNG</a></p>
                            <ul>
                                <li class="subtitle">Proxmox cluster,</li>
                                <li class="subtitle">Kuberbetes, Jenkins,</li>
                                <li class="subtitle">Ansible role, collection</li>
                            </ul>
                            <a onclick="showModal(0, 'nngModal');" class="btn btn-outline-danger">Bővebben</a>
                            <div id="nngModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Feladatok</strong>
                                    </blockquote>
                                    <p>Eredetileg a UX csapathoz csatlakoztam DevOps pozícióban, ahol fő feladatom a fejlesztők és
                                       tesztelők támogatása volt. Részt vettem a tesztkörnyezetek kiépítésében és karbantartásában, biztosítva,
                                       hogy az alkalmazás különböző platformokon (Linux, Windows, Mac, Android) megfelelően fusson. A
                                       verziókezelést Git segítségével oldottuk meg, míg a CI/CD folyamatokhoz TeamCity-t használtunk. Ezen a
                                       területen rövid ideig dolgoztam, mielőtt a jelenlegi csapatomhoz kerültem.
                                       <br/><br/>
                                       Jelenlegi szerepkörömben fejlesztői csapatok támogatásáért és a különböző rendszerek (Jenkins, Nexus,
                                       Sonar, Spinnaker) üzemeltetéséért és karbantartásáért vagyok felelős. Ezeket a rendszereket Ansible-el
                                       menedzseljük, a role-ok és collection-ök írását, tesztelését Molecule segítségével végzem. A CI/CD
                                       rendszerünk Jenkins, ezért Java és Groovy alapszintű ismeretét is elsajátítottam, hogy karbantarthassam és
                                       továbbfejleszthessem a shared pipeline-t. A pipeline-ok tesztelését Gradle segítségével végezzük.
                                       <br/><br/>
                                       Ezen felül néha egyedi feladatokat is kapok, mint például egy 20 gépből álló Proxmox cluster létrehozása,
                                       mely magában foglalta a teljes hálózat tervezését és kiépítését, valamint egy CEPH cluster létrehozását is.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2019.04 - 2020.01</h6>
                            <p>Senior Rendszergazda/DevOps | <a target="_blank" href="https://www.bardiauto.hu/webshop/">Bárdi Autó</a></p>
                            <ul>
                                <li class="subtitle">Graylog, GitLab,</li>
                                <li class="subtitle">Prometheus, Grafana</li>
                            </ul>
                            <a onclick="showModal(1, 'bardiModal');"class="btn btn-outline-danger">Bővebben</a>
                            <div id="bardiModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Feladatok</strong>
                                    </blockquote>
                                    <p>Eredetileg Senior Rendszergazdaként csatlakoztam a csapathoz, azzal a céllal, hogy kialakítsam és
                                       bevezessem a DevOps kultúrát. Már az első naptól kezdve aktívan támogattam mind a support, mind a
                                       mérnöki csapat munkáját. A Bárdinál fizikai szerverek üzemeltetéséért voltam felelős, és részt vehettem
                                       egy jelentős projektben, amely során a régi, elavult szervereket új, korszerű szerverekre cseréltük, a
                                       geo-lokáció figyelembevételével.
                                       <br/><br/>
                                       Kisebb projektekben is közreműködtem, például egy Ansible-alapú rendszer kialakításában, amellyel közel
                                       100 virtuális gépünket menedzseltük. Itt a feladatom a playbook-ok és role-ok megírása volt, a
                                       verziókövetés és a provision folyamatait GitLab segítségével végeztük.
                                       <br/><br/>
                                       Bár élveztem a Feladatokat, a projekt tempója számomra túl lassú volt, és nem akartam éveket várni a
                                       DevOps kultúra teljes bevezetésére. Ezért olyan vállalatot kerestem, ahol központi szerepet kap a DevOps
                                       és a folyamatos fejlődés.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2018.04 - 2019.04</h6>
                            <p>Junior DevOps Engineer | <a target="_blank" href="https://www.innonic.com/">Innonic Group</a></p>
                            <ul>
                                <li class="subtitle">Bash, Python,</li>
                                <li class="subtitle">GrayLog, ELK,</li>
                                <li class="subtitle">AWS, DigitalOcean,</li>
                                <li class="subtitle">Docker Swarm, GitLab</li>
                            </ul>
                            <a onclick="showModal(2, 'innonicModal');"class="btn btn-outline-danger">Bővebben</a>
                            <div id="innonicModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Feladatok</strong>
                                    </blockquote>
                                    <p>Amikor felvettek az Innonic-hoz, azonnal átkerültem az Optimonk csapatához. A feladatom az volt, hogy a
                                       fejlesztők segítségével véghez vigyek egy technológiai átállást. A fejlesztők a korábban használt
                                       Symfony kódot egy mikro-szerviz alapú NodeJS backendre cserélték, míg a frontend VueJS és TypeScript
                                       alapú lett.
                                       <br/><br/>
                                       Az én feladatom az infrastruktúra megtervezése volt úgy, hogy a költségek alacsonyak maradjanak. Ezért
                                       döntöttem úgy, hogy AWS-ről DigitalOcean-re költöztetjük a rendszert. A verziókövetést és a CI/CD
                                       folyamatokat GitLab segítségével oldottam meg, és az alkalmazás üzemeltetésére Docker Swarmot
                                       alakítottam ki. A loggyűjtéshez ELK rendszert vezettem be, a monitorozásra pedig Nixstats-ot állítottam
                                       be. Miután ezekkel elkészültem, létrehoztam egy MongoDB clustert, mivel a meglévő MySQL adatbázist is
                                       lecseréltük.
                                       <br/><br/>
                                       Az átállás körülbelül egy évig tartott, és miután ez sikeresen lezajlott, új kihívások után néztem.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2017.03 - 2018.04</h6>
                            <p>Robbanómotoros szerelő | <a target="_blank" href="https://spiral-szerszam.hu/">Spirál szervíz</a></p>
                            <ul>
                                <li class="subtitle">Gépek szervizelése,</li>
                                <li class="subtitle">Gépek nyilvántartása,</li>
                                <li class="subtitle">Alkatrészek megrendelése</li>
                            </ul>
                            <a onclick="showModal(3, 'spiralModal');"class="btn btn-outline-danger">Bővebben</a>
                            <div id="spiralModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Feladatok</strong>
                                    </blockquote>
                                    <p>Amikor visszaköltöztünk Debrecenbe, gyorsan szükségem volt egy munkahelyre, így kerültem a Spirál
                                       szervizhez. A műszaki beállítottságom és az autószerelői tapasztalatom miatt azonnal felvettek, és a
                                       gépkölcsönző szerelő részlegére kerültem. Itt a bérbe adott gépek, mint például lapvibrátorok és
                                       úthengerek szervizelése és karbantartása volt a fő feladatom.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Munkahelyek</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6 class="title text-danger bold">2016.01 - 2016.08</h6>
                            <p>Webprogramozó | <a target="_blank" href="https://kampanyfelugyelet.hu/">Kampányfelügyelet</a></p>
                            <ul>
                                <li class="subtitle">Webprogramozás,</li>
                                <li class="subtitle">Keresőoptimalizálás,</li>
                                <li class="subtitle">Tartalmak feltöltése</li>
                            </ul>
                            <a onclick="showModal(4, 'kampanyModal');"class="btn btn-outline-danger">Bővebben</a>
                            <div id="kampanyModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Feladatok</strong>
                                    </blockquote>
                                    <p>Ebben a pozícióban egyedi és különböző keretrendszerekre (Shoprenter, Unas, WordPress, Joomla) épülő
                                       weboldalakat és webáruházakat kellett forráskód szinten keresőoptimalizálni. Az organikus keresési
                                       eredmények javítása érdekében belső linktérképeket készítettem, valamint PR cikkeket töltöttem fel a
                                       weboldalakra.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <h6 class="title text-danger bold">2015.04 - 2015.10</h6>
                            <p>Diákmunka - Termékfelelős | Systemax</p>
                            <ul>
                                <li class="subtitle">Termékfa tervezése,</li>
                                <li class="subtitle">Tartalmak feltöltése,</li>
                                <li class="subtitle">Termékek kategorizálása</li>
                            </ul>
                            <a onclick="showModal(5, 'systemaxModal');"class="btn btn-outline-danger">Bővebben</a>
                            <div id="systemaxModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <blockquote class="blockquote">
                                        <strong>Feladatok</strong>
                                    </blockquote>
                                    <p>Amikor egyetemre jártam, szükségem volt egy cégre, ahol elvégezhetem a szakmai gyakorlatomat, így
                                       kerültem ide. A feladatom az volt, hogy a cég által forgalmazott termékek specifikációit megkeressem
                                       és feltöltsem a rendszerbe. Emellett részt vettem a weboldalon található termékfa tervezésében is,
                                       valamint a marketingesek által megírt PR cikkek feltöltése is hozzám tartozott.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Tanulmányok</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <div class="card-body">
                                <h6 class="title text-danger bold">2021</h6>
                                <p>Villanyszerelő szak | <a target="_blank" href="https://hidrakepzes.hu/">Hidra felnőttkékpző központ</a></p>
                                <ul>
                                    <li class="subtitle">Épületvillamossági szerelés,</li>
                                    <li class="subtitle">Villamos gépek és ipari elosztóberendezések szerelése</li>
                                </ul>
                                <hr />
                                <h6 class="title text-danger bold">2004 - 2008</h6>
                                <p>Közgazdasági szak | <a target="_blank" href="http://www.eurodebrecen.hu/hivatalos/index.php">EURO Szak- és szakközépiskola</a></p>
                                <ul>
                                    <li class="subtitle">Közgazdaságtan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                             <div class="pull-left">
                                 <h4 class="mt-2">OS Ismeretek</h4>
                                 <span class="line"></span>
                             </div>
                         </div>
                         <div class="card-body pb-2">
                            <h6>Alpine, Ubuntu</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                             <h6>Gentoo, Kali</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                         </div>
                     </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Programozás</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>HTML + CSS3 + JS</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>PHP</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>CodeIgniter 3</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>SQL</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Java/Groovy</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Bash</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Python</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Nyelvismeret</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>Angol</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-white text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-briefcase icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">6+</h1>
                            <p class="text-light mb-1">Év tapasztalat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-ruler-pencil icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">2000+</h1>
                            <p class="text-light mb-1">Befejezett feladat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-hummer icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">200+</h1>
                            <p class="text-light mb-1">Átdolgozott hétvége</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">1000+</h1>
                            <p class="text-light mb-1">Megivott kávé</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="skills">
        <div class="container">
            <h2 class="mb-5 pb-4">Képességek</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-infinite text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Kitartás</h5>
                            <p class="subtitle">
                                Kitartónak tartom magam, mert eddigi munkám során nem találkoztam olyan feladattal, amit ne tudtam
                                volna sikeresen elvégezni. Mindig törekszem arra, hogy a kihívásokkal szemben ne csak megoldásokat
                                találjak, hanem folyamatosan fejlődjek is. A nehézségek motiválnak, és hiszek abban, hogy a kitartás
                                és a folyamatos tanulás kulcsfontosságú a sikerhez.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-ruler-pencil text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Precizitás</h5>
                            <p class="subtitle">
                                A feladataimat a lehető legprecízebben végzem el; ha szükséges, akár napokat is eltöltök kutatással
                                és tanulással, hogy a legjobb eredményeket érjem el. Fontos számomra, hogy alaposan megértsem a
                                kihívásokat, és a részletekre is odafigyeljek. Ez a hozzáállás segít abban, hogy mindig magas
                                színvonalú munkát végezzek, és folyamatosan fejlesszem tudásomat a legfrissebb trendek és
                                technológiák terén.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-link text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Csapatmunka</h5>
                            <p class="subtitle">
                                Kiválóan tudok csapatban dolgozni, és jelenleg is a DevOps csapat tagja vagyok. Szívesen dolgozom együtt
                                másokkal, hiszen hiszek abban, hogy a közös erőfeszítések mindig gazdagítják a munkát. Vannak olyan
                                ticketek, amelyeket közösen oldunk meg, így a csapaton belüli kommunikáció és az együttműködés
                                kulcsfontosságú a sikerünk szempontjából. Ez a közös munka lehetővé teszi, hogy különböző nézőpontokat és
                                ötleteket vegyünk figyelembe, amely segít a legjobb megoldások megtalálásában.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-check text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Megbízhatóság</h5>
                            <p class="subtitle">
                                A feladatok elvégzése során mindig figyelembe veszem a határidőket, és a feladatleírásokhoz minden
                                esetben hűen tartom magam. Számomra fontos, hogy a munkám pontosan megfeleljen a meghatározott
                                elvárásoknak, ezért alaposan átnézem a feladat részleteit, hogy biztosan a megfelelő irányba haladjak.
                                Ezen kívül folyamatosan priorizálom a teendőimet, hogy a legfontosabb feladatokat időben elvégezhessem,
                                így hozzájárulva a csapat és a projekt sikeréhez.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-paint-bucket text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Kreativitás</h5>
                            <p class="subtitle">
                                A szerverszoba megtervezésénél és kiépítésénél rendkívül hasznos volt, hogy az egész munkafolyamatot
                                az elejétől a végéig rám bízták. Ez lehetőséget adott számomra, hogy teljes mértékben felelősséget
                                vállaljak a projektért, és a saját elképzeléseim szerint alakítsam ki a rendszert. Az alapos
                                tervezéstől kezdve a kivitelezés minden lépéséig figyeltem a részletekre, így biztosítva, hogy a
                                végeredmény megfeleljen a legmagasabb szakmai követelményeknek. A kihívások során sokat tanultam, és
                                ez a tapasztalat jelentősen hozzájárult a szakmai fejlődésemhez.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-user text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title">Önnálló munkavégzés</h5>
                            <p class="subtitle">
                                Amikor a saját szerverszobánk kiépítésén dolgoztam, hatalmas előnyt jelentett, hogy képes voltam
                                egyedül megtervezni és végigvinni az egész folyamatot. Ez lehetőséget adott arra, hogy a projekt
                                minden aspektusát figyelembe vegyem, a tervezéstől kezdve a kivitelezésig. Az önálló munka során
                                alaposan mérlegeltem a technikai követelményeket, a költségvetést és a fenntarthatóságot is. E
                                tapasztalat során megtanultam, milyen fontos a részletekre való odafigyelés, valamint a rugalmasság
                                a váratlan helyzetek kezelésében. Az eredmény egy jól működő, hatékony és megbízható szerverszoba
                                lett, ami jelentős mértékben hozzájárult a vállalatunk operatív hatékonyságához.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-white py-5">
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal">Szívesen vállalok kihívásokkal teli projekteket, mert ezek lehetőséget adnak a fejlődésre és az új tapasztalatok megszerzésére!</h2>
            <a class="btn btn-outline-danger" href="#contact">Keress fel</a>
        </div>
    </section>
    <section class="section" id="projektek">
        <div class="container">
            <h1 class="mb-5">Projektek</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".web" class="active">Web</a>
                    <a href="#" data-filter=".docker">Docker</a>
                    <a href="#" data-filter=".programozas">Programozás</a>
                    <a href="#" data-filter=".devops">DevOps</a>
                </div>
                <div class="portfolio-container">
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/web/www.brebeka.hu.jpg" class="img-fluid" alt="www.brebeka.hu | Személyes weboldal." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/web/www.brebeka.hu.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://www.brebeka.hu">www.brebeka.hu</a></h6>
                                    <p class="subtitle">Személyes weboldal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/web/docs.eresseel.org.jpg" class="img-fluid" alt="docs.eressel.org | IT-val kapcsolatos tananyagok." />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/web/docs.eresseel.org.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://docs.eresseel.org">docs.eresseel.org</a></h6>
                                    <p class="subtitle">IT-val kapcsolatos tananyagok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/web/multilingual.jpg" class="img-fluid" alt="Többnyelvű statikus weboldalakat lehet készíteni. | Többnyelvű statikus weboldalakat lehet készíteni." />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/web/multilingual.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/multilingual-support-for-static-website">Többnyelvű támogatás statikus webhelyhez</a></h6>
                                    <p class="subtitle">Többnyelvű statikus weboldalakat lehet készíteni</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Docker -->
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/selenium.jpg" class="img-fluid" alt="Selenium | konténer image." />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/selenium.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/selenium-chrome">Selenium Chrome</a></h6>
                                    <p class="subtitle">konténer image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/ansible.jpg" class="img-fluid" alt="Ansible | konténer image." />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/ansible.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/ansible">Ansible</a></h6>
                                    <p class="subtitle">konténer image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/code.igniter.jpg" class="img-fluid" alt="Code Igniter keretrendszer | konténer image." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/code.igniter.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/codeigniter">CodeIgniter keretrendszer</a></h6>
                                    <p class="subtitle">konténer image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 docker">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/docker/azure.jpg" class="img-fluid" alt="Azure CLI és Kubectl | konténer image." />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/docker/azure.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://hub.docker.com/r/eresseel/azure-cli-kubectl">Azure CLI és Kubectl</a></h6>
                                    <p class="subtitle">konténer image</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Programozas -->
                    <div class="col-md-6 col-lg-4 programozas">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/perl5.jpg" class="img-fluid" alt="Perl5 programozás | példa kódok" />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/perl5.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-perl5">Perl5</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 programozas">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/python3.jpg" class="img-fluid" alt="Python3 programozás | példa kódok" />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/python3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-python">Python3</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 programozas">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/java.jpg" class="img-fluid" alt="Java programozás | példa kódok" />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/java.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-python">Java</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 programozas">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/programozas/go.jpg" class="img-fluid" alt="GO programozás | példa kódok" />
                            <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/programozas/go.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-python">GO</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DevOps -->
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/packer.jpg" class="img-fluid" alt="Packer | példa kódok" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/packer.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-packer">Packer</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/vagrant.jpg" class="img-fluid" alt="Vagrant | példa kódok" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/vagrant.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-vagrant">Vagrant</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/ansible.jpg" class="img-fluid" alt="Ansible | apt role" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/ansible.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/ansible-role-apt">Ansible</a></h6>
                                    <p class="subtitle">apt role</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/terraform.jpg" class="img-fluid" alt="Terraform | példa kódok" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/terraform.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-terraform">Terraform</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 devops">
                        <div class="portfolio-item">
                            <img src="http://www.bereslaszlo/assets/imgs/devops/kubernetes.jpg" class="img-fluid" alt="Kubernetes | példa kódok" />
                           <div class="content-holder">
                                <a class="img-popup" href="http://www.bereslaszlo/assets/imgs/devops/kubernetes.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a target="_blank" href="https://github.com/eresseel/learning-kubernetes">Kubernetes</a></h6>
                                    <p class="subtitle">példa kódok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="blog">
        <div class="container">
            <h2 class="mb-5">Legfrissebb <span class="text-danger">Bejegyzések
            </span></h2>
            <div class="row">
                <div class="blog-card">
                    <div class="img-holder">
                        <img src="http://www.bereslaszlo/assets/imgs/blog/virtualbox.jpg" alt="Virtualbox" />
                    </div>
                    <div class="content-holder">
                        <h6 class="title">Virtualbox</h6>
                        <p>Virtualbox segítségével x86 és x64 alapú hardverrel kompatibilis rendszereket tudunk virtualizálni. Alapvetően egy ingyenes, nyílt forráskódú programról van szó, viszont van egy bővítés hozzá Extension Pack névvel ami otthoni használatra ugyanúgy ingyenesen használható és kapunk vele pl.: USB 3.0, webkamera támogatást. Virtualizációhoz mindenképp ajánlott hardveres virtualizáció megléte és bekapcsolása. A virtuális gépek létrehozásuk után az alábbi kép formátumok közül valamelyikkel rendelkezik.</p>
                        <a target="_blank" href="https://docs.eresseel.org/onprem/virtualizacio/virtualbox/" class="read-more">Olvasás <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->

                <!-- blog-card -->
                <div class="blog-card">
                    <div class="img-holder">
                        <img src="http://www.bereslaszlo/assets/imgs/blog/json.jpg" alt="JSON" />
                    </div>
                    <div class="content-holder">
                        <h6 class="title">JSON</h6>
                        <p>A JSON (JavaScript Object Notation) egy kis méretű, szöveg alapú szabvány, ember által olvasható adatcserére. A JavaScript szkriptnyelvből alakult ki egyszerű adatstruktúrák és asszociatív tömbök reprezentálására (a JSON-ban objektum a nevük). A JavaScripttel való kapcsolata ellenére nyelvfüggetlen, több nyelvhez is van értelmezője.</p>
                        <a target="_blank" href="https://docs.eresseel.org/fejlesztes/leironyelvek/json/" class="read-more">Olvasás <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->
                <!-- blog-card -->
                <div class="blog-card">
                    <div class="img-holder">
                        <img src="http://www.bereslaszlo/assets/imgs/blog/agile.jpg" alt="Agilis szoftverfejlesztés" />
                    </div>
                    <div class="content-holder">
                        <h4 class="title">Agilis szoftverfejlesztés</h4>
                        <p>A szoftverfejlesztés hajnalán úgy vélték, hogy a fejlesztés lineáris folyamat, aminek az első szakaszaiban kell a megfelelő figyelmet és technikákat alkalmazni, és akkor biztos lesz a siker. Számtalan sikertelen szoftverfejlesztési projekt bebizonyította, hogy ez tévedés.</p>
                        <a target="_blank" href="https://docs.eresseel.org/szoftverfejlesztesi-modszerek/agilis/" class="read-more">Olvasás <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->
            </div>
        </div>
    </section>
    <div class="section contact" id="kapcsolat">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.4825478654177!2d19.03767581546805!3d47.49791297917695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc1b4e35c3bb%3A0x400c4290c1b1d80!2sBudapest%2C%20Hungary!5e0!3m2!1shu!2shu!4v1695907809079!5m2!1shu!2shu" width="100%" height="324" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div style="z-index: 998" class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info-card bg-dark">
                        <h4 class="contact-title">Kapcsolat felvétel</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Telefonszám<br /> <span class="text-muted"><a title="06-70/882-45-44" href="tel:+36708824544">+36-70/882-45-44</a></span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Lakhely<br /> <span class="text-muted">Budapest</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">E-mail<br /> <span class="text-muted"><a title="beres.laszlo1990@gmail.com" href="mailto:beres.laszlo1990@gmail.com">beres.laszlo1990@gmail.com</a></span></h6>
                            </div>
                        </div>
                        <ul class="social-icons pt-4">
                            <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/beres.laszlo1990" target="_blank" title="Facebook"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/laszlo-beres-devops" target="_blank" title="LinkedIn"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-light" href="https://github.com/eresseel" target="_blank" title="GitHub"><i class="ti-github" aria-hidden="true"></i></a></li>
                            <li><a class="social-link text-light" href="http://www.bereslaszlo/assets/cv/hu/beres.laszlo.pdf" target="_blank"><i class="ti-download" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                © <span id="year"></span>  Készítette Béres László
                <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
            </p>
        </div>
    </footer>
    <div class="cookie" id="cookieAccept">
        <div>
            <blockquote class="blockquote">
                <strong>Sütik</strong>
            </blockquote>
        </div>
        <div>
            <p style="color: #fff">A weboldal nyelvének kiválasztásához engedélyezni kell a sütik használatát.
                Elfogadod, hogy a weboldal sütiket használjon?</p>
        </div>
        <div class="btn btn-primary">
            <a onclick="cookieAccept();" title="Süti elfogadása">Elfogadom</a>
        </div>
    </div>
    <!-- core -->
    <script src="http://www.bereslaszlo/assets/js/bootstrap.bundle.min.js"></script>
    <script src="http://www.bereslaszlo/assets/js/bootstrap.affix.min.js"></script>

    <!-- Isotope  -->
    <script src="http://www.bereslaszlo/assets/js/isotope.pkgd.min.js"></script>

    <script src="http://www.bereslaszlo/assets/js/style.min.js"></script>
    <script>if (getCookie("cookieAccept=1")) {$("#cookieAccept").css("display", "none");}</script>
    <script>$(document).ready(function () {$('.loader').fadeOut(1000);});</script>
